---
const { name, designation, imageUrl, linkUrl, gitUrl } = Astro.props;
---

    <div
      class="flex flex-col justify-center items-center gap-y-6 h-[100%] img-hover"
    >
      <img
        class="rounded-[50%] w-[220px] h-[220px] align-center mt-8 mb-4 img1"
        src={imageUrl}
        alt="none"
      />
      <div class="flex flex-col py-2">
        <h2 class="text-white text-2xl font-bold text-center">
          {name}
        </h2>
        <div class="flex flex-row justify-between pt-2">
            <p class="text-white text-sm text-left font basis-3/5">
          {designation}
        </p>
        <div class="flex flex-row text-right">
                <a href={linkUrl}>
            <img
              src="/socialmedia/linkedin.webp"
              alt="Linkedin"
              class="h-6 mx-auto lg:mx-0"
            />
          </a>
          <a href={gitUrl} class="ml-2">
            <img
              src="/socialmedia/github.webp"
              alt="Github"
              class="h-6 mx-auto lg:mx-0"
            />
          </a>
            </div>
        </div>
      </div>
    </div>

<style>
  .font {
    font-family: "IBM Plex Mono", monospace !important;
    font-size: 1.1rem;
  }
</style>
